// styles/Footer.module.scss

.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem; // Ajuste conforme necessário
    max-width: 100%;
    width: 100%;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    width: 150px; // Ajuste conforme necessário
    height: 30px; // Ajuste conforme necessário
    background-image: url('/images/logo.png'); // Substitua pelo caminho da sua imagem
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.footer_nav {
    display: flex;
    gap: 1rem;
    margin-right: 100px;

    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 0.5rem;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #555;
        }
    }
}

// Adicione estilos responsivos conforme necessário
@media (max-width: 768px) {
    .footer_content {
        flex-direction: column;
        align-items: flex-start;
    }
}