// pages/index.module.scss

.home__container {
    height: 100vh;
    width: 100%;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;


    .content {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        flex-grow: 1; // Ocupa o espaço disponível entre o Header e o Footer

        .product__container {
            display: flex;
            align-items: center;
            max-width: 100%;
        }
    }

    .footer {
        margin-top: auto; // Fica no final da tela
    }
}